[run]
branch = True
source = secureli

[report]
fail_under = 99
show_missing = true
omit =
    tests/*
    */__init__.py
exclude_lines:
    pragma: no cover
    @abstractmethod
    if __name__ == "__main__":
